.font-main {
  font-family: "Roobert";
  font-weight: 400;
}

.font-sec {
  font-family: "Roxborough CF";
  font-weight: 400;
  font-style: italic;
}

.font-Harmond {
  font-family: "Harmond";
}

.ol-x {
  overflow-x: hidden;
}

@media (max-width: 39.9375rem) {
  .ol-mobile {
    overflow: hidden;
  }
}

.home-prefix {
  position: relative;
  z-index: 10;
}

.is-loading {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 200ms, -webkit-filter 200ms;
}

.is-loading.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.hide-cursor {
  cursor: none;
}

@media (min-width: 1025px) {
  .ol {
    overflow: hidden;
  }
}

.menu-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-image {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 11.3rem;
}

.center-text {
  display: block;
  width: 33.3333333333%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: rgb(28, 28, 28);
  padding: 0 20px 16rem;
}
.center-text > span {
  font-family: "Roxborough CF";
  font-style: italic;
  font-weight: 400;
}

.mt {
  display: block;
  margin-top: 10rem;
}
@media (min-width: 1025px) {
  .mt {
    margin-top: 7rem;
  }
}

.fh {
  position: relative;
  height: 100vh;
}

@media (min-width: 1025px) {
  .hide-on-desktop {
    display: none !important;
  }
}

@media (min-width: 1025px) {
  .hide-on-mobile {
    display: block !important;
  }
}

.disable-hover {
  pointer-events: none;
}

.dot {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.6rem;
  height: 1.6rem;
  background-color: rgb(28, 28, 28);
  border-radius: 50rem;
}
.dot-white {
  background-color: rgb(255, 255, 255);
}
@media (min-width: 1025px) {
  .dot {
    width: 1.25vw;
    height: 1.25vw;
    top: 3%;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.char {
  display: inline-block;
}

@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 400;
  src: url("/Fonts/Roobert/Roobert-Regular.eot");
  src: url("/Fonts/Roobert/Roobert-Regular.eot?#iefix") format("embedded-opentype"), url("/Fonts/Roobert/Roobert-Regular.woff2") format("woff2"), url("/Fonts/Roobert/Roobert-Regular.woff") format("woff"), url("/Fonts/Roobert/Roobert-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roobert";
  font-style: normal;
  font-weight: 500;
  src: url("/Fonts/Roobert/Roobert-Medium.eot");
  src: url("/Fonts/Roobert/Roobert-Medium.eot?#iefix") format("embedded-opentype"), url("/Fonts/Roobert/Roobert-Medium.woff2") format("woff2"), url("/Fonts/Roobert/Roobert-Medium.woff") format("woff"), url("/Fonts/Roobert/Roobert-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roxborough CF";
  font-style: normal;
  font-weight: 400;
  src: url("/Fonts/Rox/RoxboroughCF-Regular.eot");
  src: url("/Fonts/Rox/RoxboroughCF-Regular.eot?#iefix") format("embedded-opentype"), url("/Fonts/Rox/RoxboroughCF-Regular.woff2") format("woff2"), url("/Fonts/Rox/RoxboroughCF-Regular.woff") format("woff"), url("/Fonts/Rox/RoxboroughCF-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roxborough CF";
  font-style: italic;
  font-weight: 400;
  src: url("/Fonts/Rox/RoxboroughCF-RegularItalic.eot");
  src: url("/Fonts/Rox/RoxboroughCF-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/Fonts/Rox/RoxboroughCF-RegularItalic.woff2") format("woff2"), url("/Fonts/Rox/RoxboroughCF-RegularItalic.woff") format("woff"), url("/Fonts/Rox/RoxboroughCF-RegularItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Harmond";
  font-style: normal;
  font-weight: 400;
  src: url("/Fonts/Harmond/Harmond-Regular.eot");
  src: url("/Fonts/Harmond/Harmond-Regular.eot?#iefix") format("embedded-opentype"), url("/Fonts/Harmond/Harmond-Regular.woff2") format("woff2"), url("/Fonts/Harmond/Harmond-Regular.woff") format("woff"), url("/Fonts/Harmond/Harmond-Regular.ttf") format("truetype");
}
::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #ebebeb;
}

body,
html {
  visibility: hidden;
  font-size: 62.5%;
  font-smoothing: antialiased !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  position: relative;
  background-color: rgb(235, 235, 235);
  font-family: "Roobert";
  font-style: normal;
  font-weight: 400;
  color: rgb(28, 28, 28);
}

.disable-scroll {
  overflow: hidden !important;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.6rem;
}
@media (min-width: 1025px) {
  .wrapper {
    padding-bottom: 4rem;
  }
}

.container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}
@media (min-width: 1025px) {
  .container {
    padding: 0 2.083vw;
  }
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  left: 0;
  top: 1.6rem;
  mix-blend-mode: exclusion;
  filter: invert(100%);
}
@media (min-width: 1025px) {
  header {
    top: 4rem;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo {
  display: flex;
  align-items: center;
}
@media (min-width: 1025px) {
  .nav-logo {
    flex: 0 0 16.6666666667%;
  }
}
.nav-text {
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: -0.01em;
  font-weight: 500;
  padding-left: 8px;
  color: rgb(28, 28, 28);
}
@media (min-width: 1025px) {
  .nav-text {
    font-size: 1.4rem;
    padding-left: 16px;
  }
}
.nav-main {
  margin-left: auto;
}
.nav-main > a > svg {
  max-width: 7.2rem;
}
@media (min-width: 1025px) {
  .nav-main > a > svg {
    max-width: 100%;
  }
}
@media (min-width: 48em) {
  .nav-main {
    margin-left: 0;
  }
}
@media (min-width: 1025px) {
  .nav-main {
    width: fit-content;
    margin-right: 14.1666666667%;
  }
}
.nav-version {
  font-size: 1rem;
  letter-spacing: -0.01em;
  font-weight: 500;
  line-height: 110%;
  display: none;
}
@media (min-width: 1025px) {
  .nav-version {
    font-size: 1.4rem;
  }
}
.nav-version > span:nth-child(1) {
  display: block;
  text-indent: 16px;
}
.nav-burger {
  margin-left: 2rem;
}
@media (min-width: 48em) {
  .nav-burger {
    margin-left: 8rem;
  }
}
.nav-burger__btn {
  height: 39px;
  width: 39px;
  background-color: transparent;
  border: none;
  position: relative;
  padding: 0;
  box-shadow: none;
}
.nav-burger__line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(28, 28, 28);
  position: absolute;
  left: 0;
  will-change: transform;
}
.nav-burger__line:nth-child(1) {
  top: 15px;
}
.nav-burger__line:nth-child(2) {
  bottom: 15px;
}

.header-about .nav-text,
.header-about .nav-version {
  color: #ffffff;
}

@media (min-width: 1025px) and (max-width: 1920px) {
  .nav-text,
  .nav-version {
    font-size: 0.729vw;
  }
}
.footer-center {
  width: 100%;
  position: fixed;
  z-index: 999;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 1.6rem;
  text-align: center;
}
@media (min-width: 1025px) {
  .footer-center {
    bottom: 4rem;
  }
}
.footer-center > p {
  font-size: 14px;
  line-height: 110%;
  letter-spacing: -0.01em;
  mix-blend-mode: multiply;
  font-weight: 500;
}

.footer {
  position: fixed;
  z-index: 999;
  width: auto;
  min-width: max-content;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 1025px) {
  .footer {
    bottom: 4rem;
  }
}
.footer-clone {
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 64rem) {
  .footer-clone {
    bottom: 1.4rem;
  }
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-content {
  font-size: 1rem;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.01em;
}
@media (min-width: 1025px) {
  .footer-content {
    font-size: 1.4rem;
  }
}

@media (min-width: 1025px) and (max-width: 1920px) {
  .footer-content {
    font-size: 0.729vw;
  }
}
.loader {
  position: fixed;
  z-index: 999;
  mix-blend-mode: exclusion;
  filter: invert(100%);
  user-select: none;
}
@media (max-width: 64rem) {
  .loader {
    display: none;
  }
}

#progress {
  position: absolute;
  user-select: none;
  width: max-content;
  font-size: 2rem;
  line-height: 120%;
  left: -50px;
  top: -10px;
  color: rgb(28, 28, 28);
}
@media (max-width: 64rem) {
  #progress {
    display: none;
  }
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(28, 28, 28);
}

.menu {
  display: none;
  width: 100%;
}
.menu__wrap {
  position: relative;
  overflow: hidden;
}
.menu__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  mix-blend-mode: exclusion;
}
.menu__item.is-animating {
  pointer-events: none;
}
.menu__item:last-child {
  pointer-events: none;
}
.menu__number {
  padding-bottom: 0.4rem;
  font-size: 1rem;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: rgb(135, 135, 135);
  pointer-events: none;
  mix-blend-mode: multiply;
}
.menu__link {
  font-size: 1.4rem;
  line-height: 110%;
  letter-spacing: -0.01em;
  font-weight: 500;
  color: #000000;
  position: relative;
  overflow: hidden;
}
.menu__link-span > span > span {
  transform-origin: bottom;
  transition: transform 0.5s;
  transition-delay: calc(0.025s * var(--char-index));
}
.menu__link-clone {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.menu__link-clone > span {
  font-family: "Roxborough CF";
  letter-spacing: -0.01em;
}
.menu__link-clone > span > span {
  transform-origin: top;
  transition: transform 0.5s;
  transition-delay: calc(0.025s * var(--char-index));
  transform: translate3d(0, 100%, 0) rotateX(-90deg);
}
.menu__link-span > span > span, .menu__link-clone > span > span {
  display: inline-block;
  transform-style: preserve-3d;
}
.menu__link-clone > span, .menu__link-span > span {
  white-space: nowrap;
  will-change: transform;
}
.menu__link:hover .menu__link-span > span > span {
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
  transition: transform 0.5s;
  transition-delay: calc(0.015s * var(--char-index));
}
.menu__link:hover .menu__link-clone > span > span {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
  transition: transform 0.5s;
  transition-delay: calc(0.015s * var(--char-index));
}
.menu__abs {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0px);
  width: 100%;
  z-index: 999;
  mix-blend-mode: exclusion;
  filter: invert(100%);
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .menu__link {
    font-size: 0.729vw;
  }
}
.menuMobile {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;
  background-color: rgb(28, 28, 28);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}
.menuMobile-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 17.2413793103vh;
  padding-bottom: 95px;
}
@media (min-width: 48em) {
  .menuMobile-wrap {
    padding-bottom: 166px;
  }
}
@media (min-width: 60em) {
  .menuMobile-wrap {
    padding-bottom: 300px;
  }
}
.menuMobile-list {
  text-align: right;
}
.menuMobile-item:not(:last-child) {
  margin-bottom: 2rem;
}
.menuMobile-link {
  color: rgb(255, 255, 255) !important;
  font-size: 4rem !important;
  line-height: 97% !important;
  letter-spacing: -0.03em !important;
  position: relative;
}
@media (min-width: 48em) {
  .menuMobile-link {
    font-size: 7.2rem !important;
  }
}
.menuMobile-link__wrap {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
}
.menuMobile-link__animate, .menuMobile-link__number {
  display: inline-block;
}
.menuMobile-link__number {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  line-height: 110%;
  letter-spacing: -0.01em;
  padding-right: 0.8rem;
}
@media (min-width: 48em) {
  .menuMobile-link__number {
    font-size: 1.6rem;
  }
}
.menuMobile-credit__inner {
  width: 100%;
  display: flex;
}
@media (min-width: 48em) {
  .menuMobile-credit__inner {
    justify-content: flex-end;
  }
}
.menuMobile-col1 {
  width: 33.3333333333%;
}
@media (min-width: 48em) {
  .menuMobile-col1 {
    width: 16.6666666667%;
  }
}
.menuMobile-col1 > .menuMobile-type:nth-child(1) {
  margin-bottom: 2.2rem;
}
.menuMobile-text, .menuMobile-grey {
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  line-height: 110%;
  font-weight: 500;
  letter-spacing: -0.01em;
}
.menuMobile-grey {
  color: rgb(135, 135, 135);
  margin-bottom: 0.8rem;
}
.menuMobile-footer {
  position: fixed;
  bottom: 1.6rem;
  color: white;
  width: auto;
  min-width: max-content;
  display: flex;
  left: 50%;
  transform: translate(-50%, 0%);
}
@media (min-width: 48em) {
  .menuMobile-footer {
    bottom: 4rem;
  }
}
.menuMobile-footer__text {
  font-size: 1rem;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.01em;
}

.menuMobile .container {
  height: 100%;
}

.transition {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #090909;
  width: 100%;
  overflow: hidden;
  z-index: 999;
}
@media (max-width: 64rem) {
  .transition {
    display: none;
  }
}
.transition.active {
  height: 16.2037037037vh;
}
.transition-item {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  transform: translate(-50%, -50%);
  font-size: 12.5vw;
  letter-spacing: -0.03em;
  line-height: 97%;
  color: #232323;
}
.transition-item__inner {
  display: inline-block;
  width: max-content;
}
.transition-item__inner span.char {
  display: inline-block;
  will-change: transform;
  transform: translateY(100%);
}

.preloader {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: rgb(235, 235, 235);
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.preloader-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.preloader-lotties {
  position: relative;
}

#lottie-loader,
#lottie-drop,
#lotti-home {
  transform: unset !important;
}

@media (max-width: 39.9375rem) {
  #lottie-loader,
  #lottie-drop,
  #lottie-home {
    width: 100%;
    max-width: 375px;
  }
}

#lottie-drop {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media (min-width: 1025px) and (max-width: 1921px) {
  #lottie-drop {
    height: 62.962962963vh;
  }
}

@media (min-width: 1025px) and (max-width: 1921px) {
  #lottie-loader,
  #lottie-home {
    height: 37.037037037vh;
  }
}

#lottie-home {
  position: absolute;
  top: 70%;
}
@media (min-width: 1025px) and (max-width: 1921px) {
  #lottie-home {
    top: 25.9259259259vh;
  }
}

@media (min-width: 640px) {
  #lottie-home,
  .preloader-lotties {
    width: 600px;
  }
}
@media (max-width: 64rem) {
  .hello {
    padding-top: 10.5596620908vh;
  }
}
@media (min-width: 1025px) {
  .hello {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.hello-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hello-flex {
  text-align: center;
}
@media (min-width: 48em) {
  .hello-flex {
    margin-right: -1.6rem;
    display: flex;
  }
}
.hello-title {
  font-size: 8.3rem;
  line-height: 115%;
  letter-spacing: -0.05em;
  margin-bottom: 1.6rem;
  overflow: hidden;
}
@media (min-width: 48em) {
  .hello-title {
    margin-bottom: 6.7rem;
    font-size: 11.5rem;
  }
}
@media (min-width: 1025px) {
  .hello-title {
    margin-bottom: 0;
    font-size: 15.625vw;
  }
}
.hello-sub {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  line-height: 80%;
  overflow: hidden;
  display: inline-block;
  height: fit-content;
}
.hello-sub > span {
  display: inline-block;
}
@media (min-width: 48em) {
  .hello-sub {
    margin: 1.6rem 0 0 2rem;
  }
}
@media (min-width: 1025px) {
  .hello-sub {
    font-size: 3.125vw;
    margin: 7rem 0 0 2rem;
  }
}

#lottie-home__clone {
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 1025px) and (max-width: 1921px) {
  #lottie-home__clone {
    height: 37.037037037vh;
  }
}
@media (min-width: 640px) {
  #lottie-home__clone {
    width: 600px;
  }
}

.person {
  margin-top: 1.6rem;
}
@media (min-width: 1025px) {
  .person {
    margin-top: 8.555556vh;
  }
}
.person-wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .person-wrap {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 83.3333333333%;
  }
}
.person-wrap > div:nth-of-type(1) {
  order: 1;
}
@media (max-width: 64rem) {
  .person-wrap > div:nth-of-type(1) {
    margin-bottom: 1.6rem;
  }
}
.person-wrap > div:nth-of-type(2) {
  order: 3;
}
.person-wrap > div:nth-of-type(3) {
  order: 2;
}
.person-wrap > div:nth-of-type(3) > img {
  display: none;
}
@media (min-width: 1025px) {
  .person-wrap > div:nth-of-type(3) > img {
    display: block;
  }
}
@media (min-width: 1025px) {
  .person-wrap > div:nth-of-type(1),
  .person-wrap > div:nth-of-type(2),
  .person-wrap > div:nth-of-type(3) {
    order: 0;
  }
}
.person-col2 {
  width: 66.6666666667%;
  font-weight: 500;
}
@media (min-width: 48em) {
  .person-col2 {
    width: 33.3333333333%;
  }
}
@media (min-width: 1025px) {
  .person-col2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.person-col4 {
  position: relative;
  width: 100%;
  max-width: 600px;
}
@media (min-width: 1921px) {
  .person-col4 {
    height: 300px;
  }
}
.person-text {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  letter-spacing: -0.01em;
  line-height: 110%;
}
@media (min-width: 48em) {
  .person-text {
    font-size: 1.6rem;
  }
}
@media (min-width: 1025px) {
  .person-text {
    line-height: 100%;
    font-size: 0.833vw;
  }
}
.person-circle {
  object-fit: cover;
  max-width: 4rem;
  margin-bottom: 3.4482758621vh;
}
@media (min-width: 48em) {
  .person-circle {
    margin-bottom: 6.7rem;
  }
}
@media (min-width: 1025px) {
  .person-circle {
    margin-bottom: 4rem;
  }
}

.about {
  padding: 10rem 0 5rem 0;
  background-color: #181818;
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100% !important;
  max-width: 100% !important;
  height: 80vh;
}
.about .container {
  height: 100%;
}
@media (min-width: 48em) {
  .about {
    padding: 10rem 0;
    height: 100vh;
  }
}
@media (min-width: 1025px) {
  .about {
    padding: 10.5596620908vh 0 0 0;
    height: 230vh;
  }
}
.about-image {
  position: absolute;
  top: calc(50% - 10vh);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 66.6666666667%;
  height: 150vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 64rem) {
  .about-image {
    width: 70%;
    top: 50%;
    height: 70vh;
  }
}
@media (max-width: 39.9375rem) {
  .about-image {
    height: 50vh;
    width: 75%;
  }
}
.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-mask {
  position: absolute;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.about-mask > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-mask::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
  top: 0;
  left: 0;
  z-index: 10;
}
.about-hobby {
  color: #e1e1e1;
  position: absolute;
  font-size: 2.4rem;
  right: 0;
  bottom: 0;
  width: 66.6666666667%;
  text-indent: 3em;
  padding-left: 5px;
  padding-right: 1.5rem;
  line-height: 109%;
  letter-spacing: -0.04em;
}
@media (min-width: 48em) {
  .about-hobby {
    font-size: 4rem;
    width: 49.666667%;
    right: 3vw;
    bottom: -8%;
    text-indent: 4em;
  }
}
@media (min-width: 1023px) {
  .about-hobby {
    bottom: 5%;
  }
}
@media (min-width: 1025px) {
  .about-hobby {
    bottom: 8%;
    right: -4.083vw;
    font-size: 4.688vw;
  }
}
.about-text {
  bottom: 0;
  position: absolute;
  color: #e1e1e1;
  width: 25%;
  font-size: 1rem;
  text-transform: uppercase;
}
.about-text .word {
  overflow: hidden;
}
@media (min-width: 48em) {
  .about-text {
    width: 15%;
    bottom: -7%;
  }
}
@media (min-width: 1025px) {
  .about-text {
    left: 2.083vw;
    bottom: 20%;
    font-size: 0.833vw;
    letter-spacing: -0.04em;
    font-weight: 500;
    width: 5%;
  }
}
.about-title {
  font-size: 2.4rem;
  letter-spacing: -0.04em;
  text-indent: 2.5em;
  position: relative;
  color: #e1e1e1;
  width: 65%;
  line-height: 109%;
}
@media (min-width: 48em) {
  .about-title {
    width: 50%;
    font-size: 4rem;
  }
}
@media (min-width: 1025px) {
  .about-title {
    font-size: 4.688vw;
    text-indent: 4em;
    width: 55%;
    line-height: 0;
  }
}
.about-title > span {
  text-indent: initial;
}
.about-title span.is-parrent {
  overflow: hidden;
  line-height: 90%;
}
@media (min-width: 48em) {
  .about-title span.is-parrent {
    line-height: 97%;
  }
}
@media (min-width: 1025px) {
  .about-title span.is-parrent {
    line-height: 109%;
  }
}
.about-full {
  height: 100vh;
  width: 100%;
}
.about-full > * {
  height: 100%;
}
.about-full__inner {
  height: 100vh;
}
.about-full__inner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: 0;
}
.about-footer {
  position: fixed;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 4rem;
  mix-blend-mode: exclusion;
  filter: invert(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 64rem) {
  .about-footer {
    display: none;
  }
}
.about-footer__number {
  display: flex;
  align-items: center;
}
.about-footer__animate {
  position: relative;
  overflow: hidden;
  width: 0.673vw;
  line-height: 0;
}
@media (max-width: 64rem) {
  .about-footer__animate {
    width: 12px;
  }
}
.about-footer__animate > span {
  display: inline-block;
}
.about-footer__text {
  font-size: 0.521vw;
  line-height: 110%;
  letter-spacing: -0.01em;
  font-weight: 500;
  text-transform: uppercase;
}
@media (max-width: 64rem) {
  .about-footer__text {
    font-size: 1rem;
  }
}
.about-footer__coppyright {
  position: relative;
  overflow: hidden;
  width: 5.521vw;
  text-align: center;
}
@media (max-width: 64rem) {
  .about-footer__coppyright {
    width: 110px;
  }
}
.about-footer__coppyright > span {
  text-align: center;
  display: inline-block;
}
.about-attr {
  visibility: hidden;
  opacity: 0;
}
.about-attr.active {
  opacity: 1;
  visibility: visible;
}

.clone {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
}

.full-image {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  font-size: 0;
  overflow: hidden;
}
.full-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: 0;
}

.pt {
  padding-top: 7rem;
}

.email {
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: #181818;
}
.email-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 90%;
}
@media (max-width: 64rem) {
  .email-wrap {
    height: 80%;
  }
}
.email-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #000000;
}
.email-top {
  text-align: center;
}
.email-top > p {
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: rgb(28, 28, 28);
  margin-bottom: 1.4rem;
  color: rgb(255, 255, 255);
}
@media (min-width: 1025px) {
  .email-top > p {
    font-size: 0.833vw;
    line-height: 110%;
    margin-bottom: 2.4rem;
  }
}
.email-top > a {
  font-size: 8rem;
  line-height: 90%;
  cursor: pointer;
  color: rgb(255, 255, 255) !important;
  position: relative;
}
@media (min-width: 1025px) {
  .email-top > a {
    font-size: 5.729vw;
  }
}
.email-top > a > span {
  letter-spacing: -0.05em;
}
.email-top > a::after {
  left: 0;
  bottom: 0;
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.4s;
  background-color: rgb(255, 255, 255);
}
.email-top > a:hover::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}
.email-lottie {
  position: relative;
  width: 100%;
  height: 20.833vw;
}
@media (max-width: 64rem) {
  .email-lottie {
    height: 50%;
  }
}
.email-lottie__item {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hobby,
.clients {
  background-color: #dadada;
}

.award {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}
@media (max-width: 64rem) {
  .award {
    padding-bottom: 12rem;
  }
}
.award-full {
  padding: 4.6296296296vh 0 0 0;
}
@media (min-width: 1025px) {
  .award-full {
    padding: 4.6296296296vh 0 16rem 0;
  }
}
.award-title, .award-table, .award-bottom {
  width: 58.3333333333%;
}
@media (max-width: 64rem) {
  .award-title, .award-table, .award-bottom {
    width: 100%;
  }
}
.award-title {
  position: relative;
}
@media (max-width: 64rem) {
  .award-title {
    width: 50%;
  }
}
@media (max-width: 39.9375rem) {
  .award-title {
    width: 100%;
  }
}
.award-title h3 {
  position: relative;
  font-size: 2.4rem;
  letter-spacing: -0.02em;
  text-indent: 2.5em;
  line-height: 97%;
}
.award-title h3 span {
  text-indent: 0;
}
.award-title h3 span.is-parrent {
  overflow: hidden;
  line-height: 110%;
}
@media (min-width: 1025px) {
  .award-title h3 {
    font-size: 2.083vw;
    letter-spacing: -0.04em;
    text-indent: 5em;
    line-height: 0;
  }
}
.award-table {
  padding: 16rem 0;
}
@media (max-width: 64rem) {
  .award-table {
    padding: 12rem 0;
  }
}
.award-item {
  padding: 16px 0;
  position: relative;
}
.award-item__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.award-item__text {
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.01em;
}
@media (max-width: 64rem) {
  .award-item__text {
    font-size: 1.2rem;
  }
}
.award-item__text:nth-child(1) {
  width: 35.7142857143%;
}
@media (max-width: 39.9375rem) {
  .award-item__text:nth-child(1) {
    width: 42.8571428571%;
  }
}
.award-item__text:nth-child(2) {
  width: 35.7142857143%;
  text-align: left;
}
@media (max-width: 39.9375rem) {
  .award-item__text:nth-child(2) {
    width: 42.8571428571%;
  }
}
.award-item__text:nth-child(3) {
  width: 14.2857142857%;
  text-align: right;
}
.award-item__line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: currentColor;
}
.award-text {
  font-size: 1.4rem;
  line-height: 130%;
  font-weight: 400;
  color: rgb(28, 28, 28);
}
@media (min-width: 1025px) {
  .award-text {
    font-size: 1.25vw;
  }
}
.award-bottom {
  width: 25%;
  margin-right: 8.073vw;
}
@media (max-width: 64rem) {
  .award-bottom {
    width: 66.6666666667%;
    margin-right: 0;
  }
}
.award-another {
  width: 100%;
  line-height: 110%;
}
.award-another span.is-parrent {
  overflow: hidden;
}

.clients-wrap {
  padding-top: 4.6296296296vh;
  padding-bottom: 12rem;
}
@media (min-width: 1025px) {
  .clients-wrap {
    padding-bottom: 16rem;
  }
}
.clients-title {
  width: 41.6666666667%;
  text-indent: 5em;
  font-size: 2.083vw;
  line-height: 110%;
  letter-spacing: -0.02em;
  margin-bottom: 4.4rem;
  position: relative;
  line-height: 0;
}
.clients-title span {
  text-indent: 0;
}
.clients-title span.is-parrent {
  overflow: hidden;
  line-height: 110%;
}
@media (max-width: 64rem) {
  .clients-title {
    width: 50%;
    font-size: 2.4rem;
    text-indent: 2.5em;
    line-height: 97%;
  }
}
@media (max-width: 39.9375rem) {
  .clients-title {
    width: 100%;
  }
}
.clients-title::after {
  position: absolute;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background-color: rgb(28, 28, 28);
  border-radius: 50rem;
  left: 0;
  top: 0;
  transform: translateY(25%);
}
@media (min-width: 1025px) {
  .clients-title::after {
    width: 1.25vw;
    height: 1.25vw;
    transform: translateY(50%);
  }
}
.clients-list {
  width: 33.3333333333%;
  margin-left: auto;
}
@media (max-width: 64rem) {
  .clients-list {
    width: 50%;
  }
}
@media (max-width: 39.9375rem) {
  .clients-list {
    width: 66.6666666667%;
  }
}
.clients-item {
  font-size: 4rem;
  line-height: 109%;
  letter-spacing: -0.05em;
  background: linear-gradient(to right, rgb(28, 28, 28) 50%, rgb(177, 177, 177) 50%);
  background-size: 200% 100%;
  background-position-x: 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 1025px) {
  .clients-item {
    font-size: 3.438vw;
  }
}
.clients-more {
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  line-height: 130%;
  font-weight: 400;
  color: rgb(135, 135, 135);
  padding-top: 12rem;
}
@media (min-width: 1025px) {
  .clients-more {
    padding-top: 16rem;
    font-size: 1.25vw;
  }
}

.hobby {
  position: relative;
  z-index: 2;
}
@media (max-width: 64rem) {
  .hobby {
    height: 40vh;
  }
}
@media (max-width: 39.9375rem) {
  .hobby {
    height: 100vh;
  }
}
.hobby .container {
  height: 100%;
}
.hobby-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 48em) {
  .hobby-flex {
    flex-direction: row;
    justify-content: space-between;
  }
}
.hobby-list {
  width: 41.6666666667%;
  position: relative;
  padding: 4.6296296296vh 0 0 0;
  height: fit-content;
}
.hobby-list::after {
  position: absolute;
  content: "";
  top: 4.6296296296vh;
  left: 20%;
  width: 1.25vw;
  height: 1.25vw;
  border-radius: 100%;
  background-color: rgb(28, 28, 28);
  transform: translateY(50%);
}
@media (max-width: 64rem) {
  .hobby-list::after {
    width: 1.6rem;
    height: 1.6rem;
    left: 10%;
  }
}
@media (max-width: 39.9375rem) {
  .hobby-list::after {
    left: 0;
  }
}
@media (max-width: 64rem) {
  .hobby-list {
    width: 60%;
  }
}
@media (max-width: 39.9375rem) {
  .hobby-list {
    width: 100%;
    order: 1;
    margin-bottom: 8rem;
  }
}
.hobby-image {
  width: 41.6666666667%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-size: 0;
  left: -2.083vw;
  z-index: 2;
}
.hobby-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  font-size: 0;
}
@media (max-width: 64rem) {
  .hobby-image {
    height: 40vh;
    left: -2rem;
  }
}
@media (max-width: 39.9375rem) {
  .hobby-image {
    width: 100vw;
    height: 100%;
    order: 2;
  }
}
.hobby-image__item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(100%, 100%) rotate(-35deg) scale(1.1);
}
.hobby-image__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hobby-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
  font-size: 2.4rem;
  line-height: 110%;
  letter-spacing: -0.04em;
}
@media (min-width: 1025px) {
  .hobby-content {
    font-size: 2.083vw;
  }
}
@media (max-width: 64rem) {
  .hobby-content {
    padding-bottom: 0.25rem;
  }
}
@media (max-width: 39.9375rem) {
  .hobby-content:last-child {
    margin-left: 2rem;
  }
}
.hobby-svg {
  display: inline-flex;
  vertical-align: bottom;
}
@media (max-width: 64rem) {
  .hobby-svg {
    height: 24px;
    width: 24px;
  }
}
.hobby-hover {
  color: rgb(135, 135, 135);
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.hobby-hover::after {
  left: 0;
  bottom: 0;
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 1s;
  background-color: #1c1c1c;
}
.hobby-hover.active::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}
.hobby-hover.active > span {
  transition: color 1s;
  color: #1c1c1c;
}
.hobby-hover.active > svg.hobby-svg path {
  transition: fill 1s;
  fill: #1c1c1c;
}
.hobby-m {
  margin: 0 0.25em;
}
.hobby-mr {
  margin-right: 0.25em;
}

@media (max-width: 64rem) {
  .process-flex {
    padding-bottom: 600px;
  }
}
@media (max-width: 39.9375rem) {
  .process-flex {
    padding-bottom: 400px;
  }
}
@media (min-width: 1025px) {
  .process-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8.6296296296vh 0 11.1111111111vh 0;
  }
}
@media (max-width: 64rem) {
  .process-fixed {
    width: 60%;
    margin-bottom: 12rem;
    padding-top: 4rem;
  }
}
@media (max-width: 39.9375rem) {
  .process-fixed {
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .process-fixed {
    width: 40%;
    height: 100vh;
    padding-bottom: 16.72963vh;
  }
}
.process-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.process-list {
  width: 100%;
}
@media (min-width: 1025px) {
  .process-list {
    width: 33.3333333333%;
  }
}
.process-list__item {
  display: flex;
  justify-content: space-between;
}
.process-list__item:not(:last-child) {
  padding-bottom: 12rem;
}
@media (min-width: 1025px) {
  .process-list__item:not(:last-child) {
    padding-bottom: 22.2222222222vh;
  }
}
.process-list__title {
  font-size: 2.4rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  overflow: hidden;
  height: fit-content;
}
.process-list__title span {
  display: inline-block;
}
@media (min-width: 1025px) {
  .process-list__title {
    letter-spacing: -0.04em;
    font-size: 2.083vw;
  }
}
.process-list__desc {
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  line-height: 130%;
}
@media (min-width: 1025px) {
  .process-list__desc {
    font-size: 0.833vw;
    line-height: 130%;
  }
}
.process-list__desc span.is-parrent {
  line-height: 120%;
  overflow: hidden;
}
.process-list__text {
  width: 50%;
}
@media (max-width: 39.9375rem) {
  .process-list__text {
    width: 66.6666666667%;
  }
}
.process-list__text > div:nth-child(1) {
  margin-bottom: 4rem;
}
.process-title {
  font-size: 2.4rem;
  letter-spacing: -0.02em;
  text-indent: 2.5em;
  position: relative;
  line-height: 97%;
}
.process-title span {
  text-indent: 0;
}
.process-title span.is-parrent {
  overflow: hidden;
  line-height: 110%;
}
@media (min-width: 1025px) {
  .process-title {
    font-size: 2.083vw;
    text-indent: 5em;
    line-height: 0;
  }
}

#lottie-about {
  width: 80%;
  margin-top: auto;
  margin-left: -7vw;
}
@media (max-width: 64rem) {
  #lottie-about {
    position: absolute;
    width: 100%;
    bottom: 5%;
    left: 0;
    height: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 39.9375rem) {
  #lottie-about {
    bottom: 0;
  }
}
#lottie-about > svg {
  transform: unset !important;
}

.contact {
  padding: 10.5596620908vh 0 4rem 0;
}
@media (min-width: 1025px) {
  .contact {
    padding: 15.7407407407vh 0;
  }
}
.contact-title {
  text-align: center;
  font-size: 4rem;
  line-height: 110%;
  letter-spacing: -0.05em;
}
@media (min-width: 48em) {
  .contact-title {
    font-size: 5.7rem;
  }
}
@media (min-width: 1025px) {
  .contact-title {
    font-size: 5.729vw;
  }
}
.contact-title span.word {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}
.contact-title span.word[data-word=make] span.char[data-char=e] {
  padding-right: 0.04em;
}
.contact-title span.word[data-word="Let's"] span.char[data-char=s] {
  padding-right: 0.06em;
}
.contact-title span.word[data-word=collaborate] span.char[data-char=e] {
  padding-right: 0.06em;
}
@media (min-width: 48em) {
  .contact-footer {
    position: fixed;
    width: 100%;
    bottom: 4rem;
  }
}
.contact-footer__title {
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: -0.01em;
  font-weight: 500;
  color: rgb(135, 135, 135);
}
@media (min-width: 1025px) {
  .contact-footer__title {
    font-size: 0.833vw;
  }
}
.contact-footer__flex {
  display: flex;
  position: relative;
}
@media (max-width: 87.4375rem) {
  .contact-footer__flex {
    flex-wrap: wrap;
    width: 30%;
    row-gap: 56px;
  }
}
@media (max-width: 39.9375rem) {
  .contact-footer__flex {
    width: 85%;
    row-gap: 1rem;
  }
}
@media (min-width: 1025px) {
  .contact-footer__flex {
    width: 100%;
  }
}
.contact-footer__col:last-child {
  position: absolute;
}
@media (max-width: 87.4375rem) {
  .contact-footer__col:last-child {
    position: absolute;
    right: -75vw;
    top: -10vw;
  }
}
@media (max-width: 39.9375rem) {
  .contact-footer__col:last-child {
    bottom: -115%;
    left: -20%;
    top: unset;
    right: 0;
  }
}
@media (min-width: 1025px) {
  .contact-footer__col:last-child {
    right: -7%;
    top: -50%;
    bottom: 0;
    transform: translateY(-35%);
    width: 33.3333333333%;
  }
}
.contact-footer__col:not(:last-child) {
  width: 50%;
}
@media (min-width: 1025px) {
  .contact-footer__col:not(:last-child) {
    width: 8.3333333333%;
  }
}
@media (max-width: 39.9375rem) {
  .contact-footer__col:nth-child(1), .contact-footer__col:nth-child(2) {
    margin-bottom: 2rem;
  }
}
.contact-footer__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.contact-footer__link > a {
  font-size: 1.4rem;
  line-height: 120%;
  letter-spacing: -0.01em;
  display: block;
  font-weight: 500;
  width: max-content;
}
@media (min-width: 1025px) {
  .contact-footer__link > a {
    font-size: 0.833vw;
  }
}
.contact-footer__mb9 {
  margin-bottom: 3rem;
}
@media (min-width: 1025px) {
  .contact-footer__mb9 {
    margin-bottom: 8.7037037037vh;
  }
}
.contact-footer__mb7 {
  margin-bottom: 1.2rem;
}
@media (min-width: 1025px) {
  .contact-footer__mb7 {
    margin-bottom: 6.8518518519vh;
  }
}
.contact-link > a {
  display: block;
}
.contact-mask {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  position: relative;
}
.contact-mask__inner {
  display: inline-block;
}
.contact-line {
  background-color: rgb(28, 28, 28);
  height: 1px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}
@media (min-width: 1025px) {
  .contact-line {
    visibility: visible;
    opacity: 1;
  }
}
.contact-arrow {
  visibility: hidden;
  opacity: 0;
}
@media (min-width: 1025px) {
  .contact-arrow {
    visibility: visible;
    opacity: 1;
  }
}
.contact-arrow img {
  display: inline-block;
}

.col-1 {
  width: 8.3333333333%;
}

@media (min-width: 1025px) {
  .col-ml-1 {
    margin-left: 6.6666666667%;
  }
}

.col-ml-2 {
  margin-left: 16.6666666667%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (min-width: 1025px) {
  .content {
    padding: 20.3703703704vh 0 27.4551214361vh 0;
  }
}
.content__wrap {
  width: 100%;
}
@media (min-width: 1025px) {
  .content__wrap {
    width: 66.6666666667%;
  }
}
.content__inner {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
@media (min-width: 1025px) {
  .content__inner {
    flex-direction: row;
    justify-content: space-between;
  }
}
.content__title {
  position: relative;
  width: 62.5%;
  overflow: hidden;
  padding: 2.2vw 0;
}
@media (max-width: 64rem) {
  .content__title {
    margin: 16.4rem 0 15.4rem 0;
  }
}
@media (max-width: 39.9375rem) {
  .content__title {
    margin: 15.6rem auto 10.2rem;
  }
}
.content__title > #lottie-works {
  width: 100%;
  z-index: -2;
}
@media (min-width: 1025px) {
  .content__title > #lottie-works {
    height: 34.4074074074vh;
    left: 45%;
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .content__title > #lottie-works > svg {
    transform: unset !important;
  }
}
.content__title-h1 {
  font-size: 4rem;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: -0.05em;
}
@media (min-width: 48em) {
  .content__title-h1 {
    font-size: 5.7rem;
  }
}
@media (min-width: 1025px) {
  .content__title-h1 {
    font-size: 5.729vw;
    line-height: 120%;
  }
}
.content__title-data {
  font-size: 5.729vw;
  line-height: 90%;
  font-weight: 400;
  width: max-content;
  height: fit-content;
  letter-spacing: -0.05em;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
}
@media (max-width: 64rem) {
  .content__title-data {
    display: none;
  }
}
.content__title-data > span {
  display: inline-block;
}
.content__title-data span.is-parrent {
  overflow: hidden;
  line-height: 119%;
}
.content__item:nth-child(1), .content__item:nth-child(3) {
  overflow: hidden;
}
.content__item:nth-child(1) > p, .content__item:nth-child(3) > p {
  display: inline-block;
}
@media (max-width: 64rem) {
  .content__item:nth-child(1) {
    width: 65%;
    align-self: flex-start;
    order: 1;
    margin-bottom: 10rem;
  }
  .content__item:nth-child(1) > p {
    width: fit-content;
    text-align: left;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  .content__item:nth-child(1) {
    width: 51.6666666667%;
  }
}
@media (max-width: 39.9375rem) {
  .content__item:nth-child(1) {
    width: 110%;
  }
}
.content__item:nth-child(2) {
  width: 100%;
  display: flex;
  padding-left: 25%;
  justify-content: space-between;
  order: 3;
  margin-bottom: 10.6rem;
}
.content__item:nth-child(2) > p {
  display: inline-block;
  width: fit-content;
  text-align: left;
  font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  .content__item:nth-child(2) {
    padding-left: 15.8333333333%;
  }
}
@media (max-width: 39.9375rem) {
  .content__item:nth-child(2) {
    width: 65%;
    padding-left: 0;
    align-self: flex-end;
  }
}
@media (max-width: 64rem) {
  .content__item:nth-child(3) {
    width: 100%;
    margin-bottom: 7.881773399vh;
  }
}
.content__item:nth-child(4) {
  display: none;
}
@media (min-width: 1025px) {
  .content__item:nth-child(4) {
    display: block;
  }
}
.content__item > p {
  text-transform: uppercase;
  font-size: 0.833vw;
  letter-spacing: -0.039em;
  line-height: 100%;
  font-weight: 500;
}
.content__item > p span.word {
  overflow: hidden;
}
.content__item-title {
  position: relative;
}
.content__item-sub {
  font-size: 0.625vw;
  text-transform: uppercase;
  letter-spacing: -0.04em;
}

@media (min-width: 1025px) {
  .slider {
    position: fixed;
    width: 100vw;
    cursor: grab;
    overflow: hidden;
    user-select: none;
    bottom: 2rem;
  }
}
.slider.is-grabbing {
  cursor: grabbing;
}

.slide__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1025px) {
  .slide__list {
    flex-direction: row;
  }
}

.slider__inner {
  padding: 0 2rem;
  width: 100%;
}
@media (min-width: 48em) {
  .slider__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4rem;
    justify-content: space-between;
  }
}
@media (min-width: 1025px) {
  .slider__inner {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.slider__inner.is-dragging {
  pointer-events: none;
}

.slide {
  display: flex;
  padding-bottom: 10.8374384236vh;
}
.slide:not(:last-child) {
  margin-bottom: 8.6rem;
}
@media (min-width: 48em) {
  .slide {
    width: calc(50% - 2.5rem);
    padding-bottom: 0;
  }
}
@media (min-width: 1025px) {
  .slide {
    width: fit-content;
  }
  .slide:not(:last-child) {
    padding-right: 14rem;
    margin-bottom: 0;
  }
}

.slide__bg {
  display: flex;
  align-items: flex-start;
  padding: 0 0.4rem;
}
@media (max-width: 39.9375rem) {
  .slide__bg {
    width: 100%;
  }
}
@media (max-width: 64rem) {
  .slide__bg {
    flex-direction: column;
    height: fit-content;
    padding-bottom: 0.8rem;
  }
}

.slide__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #ebebeb;
}
@media (max-width: 64rem) {
  .slide__mask {
    display: none;
  }
}

.slide__mask2 {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: #d9d9d9;
}
@media (max-width: 64rem) {
  .slide__mask2 {
    display: none;
  }
}

.slide__image {
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.slide__image > img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slide__image > img.active {
  filter: grayscale(1);
}
@media (max-width: 64rem) {
  .slide__image:not(:first-child) {
    margin-top: 0.8rem;
  }
}
@media (min-width: 1025px) {
  .slide__image {
    width: 11.458vw;
  }
}

.slide__version {
  flex: 1;
}
@media (min-width: 1025px) {
  .slide__version {
    width: max-content;
    position: relative;
    margin-right: 4.5rem;
    flex: unset;
  }
}

.slide__version-time {
  position: relative;
  line-height: 110%;
  font-weight: 400;
  font-size: 3.2rem;
  letter-spacing: -0.01em;
  top: -0.15em;
}
@media (max-width: 64rem) {
  .slide__version-time {
    margin-bottom: 0.8rem;
  }
}
.slide__version-time > span {
  display: inline-block;
}
@media (min-width: 1025px) {
  .slide__version-time {
    font-size: 1.667vw;
  }
}

.slide__version-font {
  margin-left: -0.2em;
  font-family: "Roxborough CF";
}

.slide__version-total {
  font-size: 1rem;
  text-transform: uppercase;
  color: rgb(135, 135, 135);
}
@media (min-width: 1025px) {
  .slide__version-total {
    font-size: 0.521vw;
    position: absolute;
    bottom: 0;
    line-height: 110%;
    letter-spacing: -0.01em;
    z-index: -1;
  }
}

.project {
  position: relative;
}
@media (min-width: 1025px) {
  .project {
    display: flex;
    justify-content: space-between;
  }
}
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
@media (min-width: 1025px) {
  .project-info {
    width: 50vw;
    padding: 9.74vw 0 1.927vw 2.083vw;
  }
}
.project-title {
  font-size: 4rem;
  line-height: 80%;
  font-weight: 400;
  letter-spacing: -0.05em;
}
@media (max-width: 64rem) {
  .project-title {
    padding: 16.4rem 0 16rem;
    text-align: center;
  }
}
@media (max-width: 39.9375rem) {
  .project-title {
    padding: 15.6rem 0 10.2rem;
  }
}
@media (min-width: 1025px) {
  .project-title {
    font-size: 5.729vw;
  }
}
.project-title > span:nth-child(1) {
  font-family: "Roxborough CF";
  font-style: italic;
}
.project-desc {
  width: 100%;
}
@media (max-width: 64rem) {
  .project-desc {
    padding: 4rem 0 4rem 2rem;
    width: 50%;
  }
}
@media (max-width: 39.9375rem) {
  .project-desc {
    padding: 6.4rem 0 6.4rem 2rem;
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .project-desc {
    padding: 6.25vw 0 0 2.083vw;
    width: 50vw;
  }
}
.project-desc > p {
  font-size: 2.4rem;
  line-height: 110%;
  letter-spacing: -0.04em;
  position: relative;
  font-weight: 400;
}
@media (min-width: 1025px) {
  .project-desc > p {
    font-size: 2.083vw;
    padding-right: 2rem;
  }
}
.project-desc > p:first-of-type {
  text-indent: 5em;
  padding-bottom: 2.5rem;
}
.project-desc > p:first-of-type::after {
  position: absolute;
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background-color: rgb(28, 28, 28);
  border-radius: 50rem;
  left: 0;
  top: 3%;
}
@media (min-width: 1025px) {
  .project-desc > p:first-of-type::after {
    width: 1.25vw;
    height: 1.25vw;
  }
}
.project-auto {
  position: relative;
}
@media (min-width: 1025px) {
  .project-auto {
    aspect-ratio: var(--ratio);
  }
}
.project-auto > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1025px) {
  .project-auto > img {
    position: absolute;
    left: 0;
  }
}
.project-image {
  position: relative;
  height: 100vh;
}
@media (max-width: 64rem) {
  .project-image {
    height: 64.8609077599vh;
  }
}
@media (min-width: 1025px) {
  .project-image {
    width: 50vw;
  }
}
.project-image > img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 1025px) {
  .project-full {
    width: 80.729vw;
    height: 100vh;
  }
}
.project-full img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.project-full:last-of-type {
  width: 100vw;
}
.project-cta {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
  bottom: 1.927vw;
  transform: translateX(-50%);
}
@media (max-width: 64rem) {
  .project-cta {
    bottom: 2%;
  }
}
.project-cta__next {
  left: 97%;
}
@media (max-width: 64rem) {
  .project-cta__next {
    width: max-content;
    left: 90%;
  }
}
@media (max-width: 39.9375rem) {
  .project-cta__next {
    left: 78%;
  }
}
.project-cta__leave {
  left: 50%;
}
@media (max-width: 64rem) {
  .project-cta__leave {
    left: 4%;
  }
}
@media (max-width: 39.9375rem) {
  .project-cta__leave {
    left: 10%;
  }
}
.project-cta button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2.4rem;
  background-color: rgb(255, 255, 255);
  border: 0;
}
@media (min-width: 1025px) {
  .project-cta button {
    border-radius: 0;
    justify-content: center;
    background-color: transparent;
  }
}
.project-cta a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 2.917vw;
  height: 2.917vw;
  transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media (min-width: 1025px) {
  .project-cta a {
    justify-content: center;
    border-radius: 2.4rem;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
  }
}
.project-cta a span {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: rgb(28, 28, 28);
  padding-right: 0.8rem;
  font-family: "Roobert";
}
@media (min-width: 1025px) {
  .project-cta a span {
    display: none;
  }
}
@media (max-width: 64rem) {
  .project-cta a {
    width: 100%;
    height: 100%;
    padding: 1.7rem 1.8rem;
  }
}
@media (hover: hover) and (pointer: fine) {
  .project-cta a:hover {
    transform: scale(1.2);
  }
}
.project-one-line span.is-children {
  overflow: hidden;
  padding: 1vw 1vw 2vw 0;
  vertical-align: top;
}
.project-one-line span.is-children:nth-child(1) {
  margin-right: -0.5vw;
}
.project-two-line {
  line-height: 0%;
  margin: 0 -0.2em;
}
@media (max-width: 64rem) {
  .project-two-line {
    line-height: 90%;
  }
}
.project-two-line > span:nth-child(1) {
  line-height: 120%;
}
.project-two-line > span:nth-child(3) {
  display: inline-block;
  margin-top: -2rem;
  line-height: 80%;
}
.project-two-line span.is-children {
  overflow: hidden;
  padding: 0 0.2em;
}
.project-two-line span.is-children[data-word=Harbour] {
  padding: 0 0 0 0.2em;
}
.project-two-line span.is-children[data-word=System] {
  padding: 0 0 0.2em 0;
}
.project-two-line span.is-children[data-word=House] {
  padding: 0 0.2em 0 0;
}

@media (min-width: 1025px) {
  .uc-large {
    width: 2544px;
  }
  .uc-full {
    width: 100vw;
  }
  .ax-lg {
    width: 140.625vw;
  }
  .ax-md {
    width: 67.708vw;
  }
  .crypto-md {
    width: 86.771vw;
  }
  .crypto-lg {
    width: 109.896vw;
  }
}
.info-flex {
  width: 100%;
}
@media (min-width: 1025px) {
  .info-flex {
    display: flex;
    justify-content: space-between;
    width: 66.6666666667%;
  }
}
.info-flex > .info-col1 {
  width: 75%;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 1.7rem;
}
@media (max-width: 64rem) {
  .info-flex > .info-col1 {
    padding-bottom: 16rem;
    width: 50%;
    align-items: flex-start;
    margin-left: 50%;
  }
}
@media (max-width: 39.9375rem) {
  .info-flex > .info-col1 {
    padding-bottom: 10.6rem;
    width: 66.6666666667%;
    align-items: flex-start;
    margin-left: 33.3333333333%;
  }
}
.info-list {
  display: flex;
}
@media (max-width: 64rem) {
  .info-list {
    width: 50%;
    margin-left: 50%;
    padding-bottom: 16rem;
  }
}
@media (max-width: 39.9375rem) {
  .info-list {
    padding-bottom: 4.6rem;
    width: 58.3333333333%;
    margin-left: 33.3333333333%;
  }
}
@media (min-width: 1025px) {
  .info-list {
    width: 50%;
  }
}
@media (max-width: 64rem) {
  .info-list > .info-col1:nth-child(1) {
    margin-right: 2rem;
  }
}
@media (min-width: 1025px) {
  .info-list > .info-col1 {
    width: 50%;
  }
}
.info-text {
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  line-height: 120%;
  font-weight: 500;
  width: max-content;
}
@media (min-width: 1025px) {
  .info-text {
    font-size: 0.833vw;
  }
}
.info-text__grey {
  color: rgb(135, 135, 135);
}
.info-text__black {
  color: rgb(28, 28, 28);
}
.info-text:not(:nth-of-type(1)) {
  margin-bottom: 1.7rem;
}
.info-text_animate {
  overflow: hidden;
}
.info-text_animate span {
  display: inline-block;
}
.info-visit {
  display: inline-block;
  overflow: hidden;
  font-size: 2rem;
  letter-spacing: -0.01em;
  color: rgb(28, 28, 28);
  font-weight: 500;
}
@media (min-width: 1025px) {
  .info-visit {
    font-size: 1.25vw;
  }
}
.info-line {
  background-color: rgb(28, 28, 28);
  height: 1px;
  width: 100%;
}
.info-arrow img {
  display: inline-block;
}
.info-col1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 1025px) {
  .info-col1 {
    width: 33.3333333333%;
  }
}

@media (min-width: 1025px) {
  .horizontal {
    display: flex;
    will-change: transform;
    position: relative;
    overflow: hidden;
  }
  .horizontal-wrap {
    display: flex;
  }
}

.sec {
  overflow: hidden;
}
@media (min-width: 1025px) {
  .sec {
    display: flex;
    width: 100%;
    min-width: 100vw;
    height: 100vh;
  }
}

.sb-image {
  position: relative;
  aspect-ratio: 16/9;
}
@media (min-width: 1025px) {
  .sb-image {
    aspect-ratio: var(--ratio);
  }
}
.sb-image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
}

.playground-title {
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  line-height: 110%;
  font-weight: 400;
  letter-spacing: -0.05em;
}
@media (min-width: 48em) {
  .playground-title {
    height: 50vh;
    font-size: 5.7rem;
  }
}
@media (min-width: 1025px) {
  .playground-title {
    font-size: 5.729vw;
    line-height: 120%;
  }
}
.playground-title > span {
  display: inline-block;
  overflow: hidden;
}
.playground-sub {
  width: 80%;
  margin: 0 auto;
  font-size: 1.4rem;
  line-height: 110%;
  letter-spacing: -0.03em;
  text-align: center;
  margin-top: -4rem;
}
@media (min-width: 48em) {
  .playground-sub {
    width: 50%;
    font-size: 2.4rem;
    margin-top: 0;
  }
}
@media (min-width: 1025px) {
  .playground-sub {
    letter-spacing: -0.04em;
    font-size: 2.083vw;
    padding-top: 10.417vw;
  }
}
.playground-sub span {
  line-height: 106%;
}
.playground-sub span.word {
  overflow: hidden;
}
.playground-desc {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 110%;
  margin: 0 auto;
  width: fit-content;
  padding-top: 10rem;
  display: none;
}
@media (min-width: 1025px) {
  .playground-desc {
    display: block;
    padding-top: 5.208vw;
  }
}
.playground-icon {
  display: block;
  padding-top: 10.6rem;
  width: fit-content;
  margin: 0 auto;
  padding-bottom: 10.6rem;
}
@media (min-width: 1025px) {
  .playground-icon {
    display: none;
  }
}
.playground-list {
  display: flex;
  padding-top: 12.5rem;
  margin-right: -4rem;
  flex-flow: row wrap;
}
@media (max-width: 64rem) {
  .playground-list {
    margin-right: -2rem;
    padding-top: 4rem;
  }
}
.playground-item {
  width: calc(25% - 2.083vw);
  flex: 1 0 auto;
  align-self: flex-start;
  display: inline-block;
  vertical-align: top;
  margin-right: 2.083vw;
  margin-bottom: 4.4rem;
  z-index: 2;
}
@media (max-width: 64rem) {
  .playground-item {
    width: calc(33.3333333333% - 2rem);
    margin-right: 2rem;
  }
}
@media (max-width: 39.9375rem) {
  .playground-item {
    width: calc(50% - 2rem);
    margin-bottom: 3.2rem;
  }
}
.playground-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d9d9d9;
  bottom: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  will-change: height;
}
@media (min-width: 1025px) {
  .playground-mask {
    visibility: visible;
    opacity: 1;
  }
}
.playground-image {
  position: relative;
  overflow: hidden;
}
.playground-image img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 2.6rem;
}
@media (max-width: 39.9375rem) {
  .playground-image img {
    margin-bottom: 1.6rem;
  }
}
.playground-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 39.9375rem) {
  .playground-info {
    align-items: flex-start;
  }
}
.playground-info__year {
  font-size: 1.4rem;
  line-height: 110%;
  letter-spacing: -0.03em;
}
@media (min-width: 48em) {
  .playground-info__year {
    font-size: 2.4rem;
  }
}
@media (min-width: 1025px) {
  .playground-info__year {
    letter-spacing: -0.04em;
    font-size: 2.083vw;
  }
}
.playground-info__name {
  font-size: 1.6rem;
  line-height: 120%;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-align: right;
}
@media (max-width: 64rem) {
  .playground-info__name {
    font-size: 1rem;
    line-height: 110%;
  }
}
.playground-info__animate {
  overflow: hidden;
  display: inline-block;
  flex-shrink: 0;
}
.playground-info__animate > span {
  display: inline-block;
}

/*# sourceMappingURL=main.css.map */
